$mq-breakpoints: (
  xxs: 320px,
  xs: 480px,
  sm: 768px,
  md: 1141px,
  lg: 1325px,
  xl: 1360px,
  xxl: 1440px,
  xxxl: 1599px,
);

$font-background-title: var(--font-background-title);
$font-h1: var(--font-h1);
$font-h2: var(--font-h2);
$font-h3: var(--font-h3);
$font-h4: var(--font-h4);
$font-h5: var(--font-h5);
$font-h6: var(--font-h6);

$font-label: var(--font-label);
$font-body-regular: var(--font-body);
$font-body: var(--font-body);
$font-body-medium: var(--font-body-medium);
$font-body-large: var(--font-body-large);
$font-tag: var(--font-tag);
$font-tag-large: var(--font-tag-large);
