$mq-breakpoints: (
  xxs: 320px,
  xs: 480px,
  sm: 768px,
  md: 1141px,
  lg: 1325px,
  xl: 1360px,
  xxl: 1440px,
  xxxl: 1599px,
);

$font-background-title: var(--font-background-title);
$font-h1: var(--font-h1);
$font-h2-light: var(--font-h2-light);
$font-h2-regular: var(--font-h2-regular);
$font-h3: var(--font-h3);
$font-h4: var(--font-h3);
$font-h5-light: var(--font-h3);
$font-h5-regular: var(--font-h3);
$font-h6-light: var(--font-h3);
$font-h6-regular: var(--font-h3);
$font-label: var(--font-label);
$font-body-regular: var(--font-body-regular);
$font-body-regular: var(--font-body);
$font-body-medium: var(--font-body-medium);
$font-body-large: var(--font-body-large);
$font-lead-small: var(--font-lead-small);
$font-caption-large: var(--font-caption-large);
$font-caption-small: var(--font-caption-small);
